
<input type="hidden" value="@ViewBag.IdLinea" id="idLinea" />
<div>
    @Html.ActionLink("Costos de Periodos Anteriores", "Costo")
</div>
<div>
    @Html.ActionLink("Ingresos de Periodos Anteriores", "Ingreso")
</div>